* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: max-content;

  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;

  background: linear-gradient(to right, #ffd4830c, #cda17d0c);

  overflow-x: hidden;
}

.hero-banner-promo {
  height: 30px;
  width: 100%;
  background-color: #be8965;
  font-size: 0.8rem;
  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  border-image: fill 1 linear-gradient(to right, #ffd4832e, #8961836d);
}

.overlay-nav {
  display: flex;
  width: 100%;
  height: 200px;
  padding: 4rem;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: url("./images/Black-and-White\ Portrait.png") no-repeat center
    center/cover;
  color: white;
  /* min-block-size: 80vh; */
}

.glow-line-box {
  /* margin-top: 15rem; */
  width: 90%;
  /* padding: 10rem; */
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav li,
nav li .shopping-cart-btn i,
nav li .nav-map-btn i {
  list-style: none;
  font-size: 2.2rem;
  color: #f5e6dc;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.eclat-brand {
  /* padding: 0.5rem 1.5rem; */
  color: #f5e6dc;
  font-size: 10.5rem;
  font-weight: 300;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.2rem;
}

nav li .shopping-cart-btn i,
nav li .nav-map-btn i {
  color: #be8965;
  font-size: 1.8rem;
}

.btn-background {
  border: none;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin: auto;
  background-color: #f5e6dc;
}

.nav-rounded-btn {
  background-color: #ffd4830c;
}

.header-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 12rem;
  font-weight: 500;
  font-family: "Great Vibes", cursive;
  color: #f5e6dc;
}

.hero div {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #da90a6;

  font-weight: 600;

  margin-top: 0.4rem;
}

.hero div .skin {
  background-color: #ffd6ba;
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  color: #ed8ba8;
}

.hero div .skincare {
  background-color: #2f231b;
  border-radius: 2rem;
  padding: 0.2rem 1rem;
}

.hero div .type {
  background-color: #be8965;
  border-radius: 2rem;
  padding: 0.2rem 1rem;
  color: #ffd6ba;
}

.shop-btn {
  width: 18rem;
  height: 3rem;
  border: 1px solid #c6866612;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding: 0.8rem 2.8rem;
  margin-top: 2rem;
  border-radius: 2rem;
  background-color: #e9a7bb;
}

/* about */

.about {
  width: 80vw;
  height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10rem;

  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.05rem;
}

/* serums */

.serums-section-grid {
  /* margin-top: 8rem; */
  width: 100%;
  height: 800px;
  background-color: #fcf6f6b7;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  position: relative;
  /* padding-top: 3rem; */
  padding: 3rem 6rem;
}

.serum-item {
  width: 95%;
}

.serum-ind-box {
  width: 90%;
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.serum-ind-box p {
  margin-bottom: 0.8rem;
}

.serum-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.serum-btn {
  top: left;

  position: absolute;
  top: 3rem; /* distancia desde arriba */
  left: 11rem; /* distancia desde la izquierda */

  background-color: #f5e6dc;
}

.ph-serum-add {
  font-size: 3rem;
  color: #be8965;
}

/* Shop section */

.shop-section {
  background-color: #fffcfa;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop-grid {
  width: 100vw;
  margin: auto;
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5rem;
}

.shop-item {
  width: 70%;

  display: grid;
  grid-template-rows: 8fr 1fr 1fr;
  gap: 0.3rem;
}

.shop-item p {
  font-size: 1.5rem;
}

.shop-item p,
.shop-item button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-item-image {
  width: 100%;
  /* height: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  border-radius: 1rem 1rem 0rem 0rem;
}

.add-cart-btn {
  height: 2.5rem;
  border-radius: 2rem;
  border: none;
  font-size: 1.5rem;

  background-color: #be8965;
  color: #2f231b;
}

/* Hide */
.hiden {
  display: none;
}
